aniso8601==9.0.1
bert-extractive-summarizer==0.8.1
blis==0.7.4
boto3==1.18.44
botocore==1.21.44
breadability==0.1.20
catalogue==2.0.6
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.6
click==7.1.2
colorama==0.4.4
cryptography==3.4.8
cymem==2.0.5
docopt==0.6.2
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.1.0/en_core_web_md-3.1.0-py3-none-any.whl
filelock==3.0.12
Flask==2.0.1
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
gptj==2.2.5
huggingface-hub==0.0.17
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
lxml==4.6.3
MarkupSafe==2.0.1
murmurhash==1.0.5
neuralcoref==4.0
nltk==3.6.2
numpy==1.21.2
packaging==21.0
pathy==0.6.0
preshed==3.0.5
ProfanityDetector==0.2
pycountry==20.7.3
pycparser==2.20
pydantic==1.8.2
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
regex==2021.8.28
requests==2.26.0
s3transfer==0.5.0
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.7.1
sentencepiece==0.1.96
six==1.16.0
smart-open==5.2.1
spacy==3.1.2
spacy-legacy==3.0.8
srsly==2.4.1
sumy==0.8.1
thinc==8.0.10
threadpoolctl==2.2.0
tokenizers==0.8.0rc4
torch==1.9.0
tqdm==4.62.2
transformers==3.0.0
typer==0.3.2
typing-extensions==3.10.0.2
urllib3==1.26.6
wasabi==0.8.2
Werkzeug==2.0.1
